/*
 * TODO: separate styles into multiple imports
 */

@import "class-option-font.css";

.tf-googlefont-area label {
	display: block;
}

/* radio-palette */
.tf-radio-palette span {
	display: inline-block;
	height: 40px;
}
.tf-radio-palette span span {
	width: 15px;
}
.tf-radio-palette > label > span {
	padding: 2px;
	border: 1px solid #ddd;
}
.tf-radio-palette input[type=radio] {
	vertical-align: top;
	margin-top: 17px;
}
.tf-radio-palette label {
	margin-left: 30px;
	white-space: nowrap;
}
.tf-radio-palette label:first-child {
	margin-left: 0
}
.tf-radio-palette {
	margin-top: 10px;
	display: inline-block;
	margin-right: 5px;
}

/* radio image */
.tf-radio-image img {
	vertical-align: middle;
}
.tf-radio-image {
	margin-top: 10px;
	display: inline-block;
	margin-right: 5px;
}
.tf-radio-image input[type=radio] {
	margin-top: 0;
}
/* code */
.tf-code {
	border-radius: 3px;
	border: 1px solid #DDD;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
}
/* sortable */
.tf-sortable li {
	cursor: move;
	background: #fafafa;
	padding: 0 0 0 15px;
	border: 1px solid #DDD;
	position: relative;
	line-height: 40px;
}
.tf-sortable ul {
	margin-top: 0;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #EEE;
	padding: 5px;
	display: inline-block;
}
.tf-sortable ul li:last-of-type {
	margin-bottom: 0;
}
.tf-sortable ul li i {
	float: right;
	background: #fcfcfc;
	display: inline-block;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #DDD;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: #777;
}
.tf-sortable ul li i.visibility {
	cursor: pointer;
}
.tf-sortable ul li i:last-of-type {
	margin-left: 50px;
}
.tf-sortable li.invisible {
	color: #ccc;
	background: transparent;
}
/* number slider */
.tf-number .ui-slider-handle {
    position: absolute;
    z-index: 2;
	border-radius: 3px;
    cursor: move;
	margin-left: -6px;
	pointer-events: none;
	outline: none;
	top: -5px;
	background: #EEE;
	border: 1px solid #CCC;
	height: 23px;
	width: 12px;
}
.tf-number .ui-slider a:focus {
	outline: none;
}
.tf-number .ui-slider-range {
    background: #eee;
    height: 100%;
}
.tf-number .number-slider {
	position: relative;
	background: #fcfcfc;
    border: 1px solid #ddd;
	border-radius: 3px;
	width: 100%;
	height: 15px;
	margin: 15px 0;
	display: block;
}
/* google webfont new */
.tf-font label {
	border: 1px solid #DDD;
	vertical-align: middle;
	padding: 4px 4px 4px 13px;
	background: #fcfcfc;
	margin-bottom: 4px;
	display: block;
	text-align: right;
	white-space: nowrap;
	margin-right: 0;
	font-size: 12px;
	line-height: 28px;
}
.tf-font label.tf-picker-open {
	color: #fcfcfc;
}
.tf-font label.tf-picker-open .wp-picker-container {
	position: absolute;
	left: 0px;
}
.tf-font label.tf-picker-open .wp-picker-container .wp-color-result {
	margin-left: 0;
}
.tf-font select {
	margin-left: 10px;
}
.tf-font .wp-picker-container {
	line-height: 28px;
	height: 28px;
	margin: 1px;
}
.tf-font .wp-picker-container > a {
	margin: 2px 7px 2px 10px;
}
.tf-font .wp-picker-container .wp-picker-default {
	margin: 2px 2px 2px 7px;
}
.tf-font iframe {
	width: 100%;
	height: 200px;
	background: #FCFCFC;
	border: 1px solid #DDD;
}
.tf-font div {
	position: relative;
}
.tf-font i {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 30px !important;
	width: 30px;
	background: #EEE;
	text-align: center;
	border: 1px solid #DDD;
	cursor: pointer;
}
.tf-font i:hover {
	background: #333;
	color: #FFF;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}
.tf-font .wp-picker-container {
	z-index: 9;
}
.tf-font .tf-font-sel-family {
	width: 150px;
}