/*
==========================================================================
WordPress Style for Select2 4.0.0
http://select2.github.io/select2/
==========================================================================
*/
.tf-select2 {
	width: 25em;
}
.customize-control .tf-select select {
	width: 100%;
}
.select2-container {
	margin: 1px;
}
.wp-customizer .select2-container {
	z-index: 999999;
	width: 260px !important;
}
.select2-container--open .select2-dropdown {
	left: -1px;
	top: -1px;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border: 1px solid #ddd;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	color: #32373c;
	outline: none;
	-webkit-transition: 0.05s border-color ease-in-out;
	transition: 0.05s border-color ease-in-out;
}
.select2-dropdown {
	border: 1px solid #ddd;
	border-radius: 0px;
}
.select2-results__option {
	margin-bottom: 0px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #0073aa;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--multiple .select2-selection__rendered {
	font-size: 14px;
}

/*
Select Multiple
*/
.select2-container--default .select2-selection--multiple {
	padding: 2px 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-bottom: 0;

	/* Truncate long names: */
	max-width: 22em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #ddd;
}
.select2-container--default .select2-search--inline .select2-search__field {
	box-shadow: none;
	/* Show the cursor on focus: */
	padding: 0;
}
.select2-container--default .select2-search--inline {
	margin-bottom: none;
}
