/*
 * Styles for Date option
 */
.tf-date .input-date {
	width:12em;
}
.tf-date .input-date.date {
	width:8em;
}
.tf-date .input-date.time {
	width:5em;
}
.tf-date .input-date.date.time {
	width:12em;
}
.tf-date-datepicker.ui-widget-content {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(241, 241, 241);
	color: #000;
	width: 17em;
	z-index: 500001 !important;
	padding: 10px;
}
.tf-date-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background-color: #e4e4e4;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding: 10px;
}
.tf-date-datepicker .ui-datepicker-prev,
.tf-date-datepicker .ui-datepicker-next {
	position: absolute;
	line-height: 1.8em;
	cursor: pointer;
	padding: 0 0.2em;
	border: 0px solid transparent;
	top: 10px;
}
.tf-date-datepicker .ui-datepicker-prev span,
.tf-date-datepicker .ui-datepicker-next span {
	display: none;
}
.tf-date-datepicker .ui-datepicker-prev:before,
.tf-date-datepicker .ui-datepicker-next:before {
	content: "\f341";
	position: absolute;
	top: 0;
	z-index: 99999999;
	color: #555;
	bottom: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.tf-date-datepicker .ui-datepicker-prev:hover:before,
.tf-date-datepicker .ui-datepicker-next:hover:before {
	color: #000;
}
.tf-date-datepicker .ui-datepicker-next:before {
	content: "\f345";
}
.tf-date-datepicker .ui-datepicker-prev {
	left: 10px;
}
.tf-date-datepicker .ui-datepicker-next {
	right: 30px;
}
.tf-date-datepicker .ui-datepicker-title {
	margin: 0 3.3em;
	line-height: 1.8em;
	text-align: center;
}
.tf-date-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.tf-date-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.tf-date-datepicker td {
	border: 0;
	padding: .2em;
}
.tf-date-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.tf-date-datepicker .ui-datepicker-calendar .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}
.tf-date-datepicker .ui-datepicker-calendar .ui-state-hover {
	border: 1px solid #999999;
	background: #dddddd;
	font-weight: normal;
	color: #343434;
}

/*
 * Styles for Timepicker addon
 */
.tf-date-datepicker .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.tf-date-datepicker .ui-timepicker-div dl { text-align: left; }
.tf-date-datepicker .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.tf-date-datepicker .ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.tf-date-datepicker .ui-timepicker-div td { font-size: 90%; }
.tf-date-datepicker .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.tf-date-datepicker .ui-timepicker-rtl{ direction: rtl; }
.tf-date-datepicker .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.tf-date-datepicker .ui-timepicker-rtl dl dt{ float: right; clear: right; }
.tf-date-datepicker .ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/*
 * Styles for Timepicker addon number slider
 */
.tf-date-datepicker .ui-slider-handle {
    position: absolute;
    z-index: 2;
	border-radius: 3px;
    cursor: move;
	margin-left: -6px;
	pointer-events: none;
	outline: none;
	top: -5px;
	background: #EEE;
	border: 1px solid #CCC;
	height: 23px;
	width: 12px;
}

.tf-date-datepicker .ui-slider a:focus {
	outline: none;
}

.tf-date-datepicker .ui-slider-range {
    background: #eee;
    height: 100%;
}

.tf-date-datepicker .ui-slider-horizontal {
	position: relative;
	background: #fcfcfc;
    border: 1px solid #ddd;
	border-radius: 3px;
	width: 100%;
	height: 15px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 6px;
}
.tf-date-datepicker .ui-datepicker-buttonpane {
	border-top:1px solid rgb(204, 204, 204);
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px 10px 0;
}
.tf-date-datepicker .ui-datepicker-buttonpane .ui-priority-primary {
	float:right;
}